<!-- marketplace/user_carts.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Carts | Marketplace Admin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin_style.css' %}">
</head>
<body>
    <header>
        <h1>User Carts</h1>
    </header>

    <main>
        <section id="search-form">
            <!-- Search Form -->
            <form method="get" action="{% url 'marketplace:view_user_carts' %}">
                <label for="search_query">Search by Student Name:</label>
                <input type="text" id="search_query" name="search_query" placeholder="Enter Name" value="{{ request.GET.search_query }}">
        
                <label for="acad_year">Year:</label>
                <input type="number" id="acad_year" name="acad_year" placeholder="Enter Year" value="{{ request.GET.acad_year }}">
        
                <label for="acad_block">Block:</label>
                <input type="text" id="acad_block" name="acad_block" placeholder="Enter Block" value="{{ request.GET.acad_block }}">
        
                <button type="submit">Filter</button>
            </form>
        </section>        

        <section id="cart-overview">
            <table class="table-cart">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Year & Block</th>
                        <th>Product</th>
                        <th>Tag*</th>
                        <th>Quantity</th>
                        <th>Order Status</th>
                        <th>Order Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in carts %}
                        <tr>
                            <td>{{ cart.user.last_name }}, {{ cart.user.given_name }}</td>
                            <td>{{ cart.user.acad_year}}{{ cart.user.acad_block }}</td>
                            <td>{{ cart.product.product_name }}</td>
                            <td>{{ cart.product.tag }}</td>
                            <td>{{ cart.quantity }}</td>
                            <td>{{ cart.order_status }}</td>
                            <td>{{ cart.order_date }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">{{ empty_message }}</td>
                        </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </section>

        <section id="navigation">
        
        </section>
    </main>

    <footer>
        <p>&copy; {{ current_year }} ICpEP. All rights reserved.</p>
    </footer>
</body>
</html>